:root {
  --primary-white-color: #ffffff;
  --background-white-color: #f5f5f5;
  --primary-dark-color: #2f303a;
  --secondary-white-color: #f5f4fa;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
}
body {
  color: var(--secondary-white-color);
  background-color: var(--background-white-color);
  font-family: 'roboto', sans-serif;
}
header {
  color: var(--primary-white-color);
}

header .logo,
footer .logo {
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
header .logo-part,
footer .logo-part {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.38;
}
.site-nav .site-nav-link,
.contacts .contacts-details {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.site-nav .site-nav-link:hover,
.site-nav .site-nav-link:focus {
  color: var(--accent-color);
}
.contacts .contacts-details:hover,
.contacts .contacts-details:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--primary-dark-color);
}
h1 {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button {
  cursor: pointer;
}
.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--title-color);
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-color);
}
.collegue-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: var(--title-color);
}
.collegue-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  color: var(--text-color);
}
.address-list .address:hover,
.address-list .address:focus {
  color: var(--accent-color);
}
.address-list .address-link:hover,
.address-list .address-link:focus {
  color: var(--accent-color);
}

footer {
  background-color: var(--primary-dark-color);
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
}

.address-list .address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.button-filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--title-color);
}
.button-filters:hover,
.button-filters:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-color);
}
.text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-color);
}
